#executables
run.bat
*.exe
main

#libraries
lib/
*.dll

#VS Code
*.code-workspace

# Ignore only the SDL2 folder inside include/ (just for windows)
include/SDL2/

# But keep everything else in include/
!include/*.hpp
!include/**/*.hpp

# Sublime project/workspace files
*.sublime-project
*.sublime-workspace
